*{
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: #b0c9de52;
}

.triangulo {
    width: 0;
    height: 0;
    border-top: 577px solid transparent;
    border-left: 1365px solid #f0ad4e;
}


