*{
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: #b0c9de52;
}

#inicio{
    height: 100vh;
    background-image: url("../img/fondo.jpg");
    margin-top: -50px;
    padding-top: 50px;
}

#videosInicio{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

#tituloIndex{
    text-align: center;
    font-size: 70px;
    margin-top: 4%;
}
