*:focus {
    outline: none;
}

#menulateral{
    z-index: 2;
}
#info{
    display: flex;
    flex-direction: column;
    line-height: 15px;
    padding: 3px 10px;
}
#barranav{
    min-width: 100%;
    position: sticky;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #1874ce;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    z-index: 1;
}
.mostrar{
    left:0;
    width: 20% !important;
    position: fixed;
    transition-duration: .7s;
}
.ocultar{
    left: -40%;
    width: 20% !important;
    position: fixed;
    transition-duration: 1s;
}
#lupa{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 31px;
    left: 8%;
}
#busqueda{
    border-radius: 17px;
    border: none;
    height: 32px;
    margin:20px 5%;
    width: 90%;
    padding: 0 2% 0 12%;
    z-index: 2;
}
#lupa path {
    fill: gray;
}
#menubutton img{
    z-index: 3;
    margin: 28% 0 12% 50%;
    cursor: pointer;
    transition-duration: .7s;
    height: 34px;
}
#logo{
    max-width: 100px;
    height: auto;
    margin: -14px 0 -16px 11%;
}

#cabecera{
    border: .4px solid #186fc3ab;
    background-color: #1874ce;
    height: 80px;
}

/*Codigo estilo del menu lateral*/
.drillmenu{
    width: 300px;
}

.drillmenu ul{ /*menu ULs*/
    font: normal 13px Verdana;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: whitesmoke; /*background of menu*/
}

.drillmenu li a{ /*menu links*/
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px;
    z-index: 1;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
* html .drillmenu li{ /*IE6 CSS hack*/
    display: inline-block;
}

.drillmenu li a button:hover{
    background-color: #19426b;
    color: white;
}
.drillmenu button{
    width: 100%;
    border: none;
    padding: 5px;
    word-break-wrap: 1;
    background: whitesmoke;
}

li.backcontroltitle{
    background: black;
    color: white;
    padding: 4px;
}

li.backcontrol{
    background: #19426b;
    color: white;
    cursor: hand;
    height: 45px;
}

.backcontrol:hover{
    cursor: hand;
}

#textoretroceder{
    font-size: 19px;
    margin: -35px 0 0 56px;
}

#drillcrumb{
    margin-bottom: 5px;
    font: bold 13px Verdana;
}

#drillcrumb a{
    color: darkred;
}

#resultado{
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border: none;
    z-index: 2;
    position: fixed;
    top: 105px;
    width: 262px;
    background-color: white;
    height: auto;
    left: 19px;
    padding: 0 10px;
    overflow: scroll;
    max-height: 540px;
}

.enlacePagina{
    border:none;
    background-color: white;
    width: 100%;
    text-align: left;
}

.enlacePagina:focus {
    outline: none;
}

/*responsive web design*/

/*pestaña de tamaño medio para el menu lateral*/
@media screen and (max-width: 790px) {
    .mostrar{
        left:0;
    }

    .ocultar{
        left: -60%;
    }

    .arrowclass{
        left:280px !important;
    }
}

/*pestaña pequeña para el menu lateral*/
@media screen and (max-width: 520px) {
    .drillmenu{
        width: 100vw;
    }

    .mostrar{
        display: inline-block;
    }

    .ocultar{
        display: none;
    }

    .arrowclass{
        left:92.5% !important;
    }

    #resultado{
        width: 88.4%!important;
        margin-left: 2%!important
    }

    #busqueda{
        width: 90%!important;
        margin-left: 5%!important;
    }

    #info{
        display: none;
    }

    #logo{
        order: 1;
        margin-left: 0;
    }

    #menubutton{
        order: 2;
    }

    #menubutton img{
        margin-left: -20%;
    }
}

